<section >
  <div>
    <script src="/modules/core/client/css/core.css"></script>
    <!--left menu section-->
    <meta name="viewpoint" content="width=device-width,initial-scale=1">

      <div class="channels-menu">
        <div class="vertical-menu">
          <ul class="channels">
            <li ng-repeat="channel in radioList">
              <div class="channel-content">
                <span class="name" ng-bind="channel.name"></span>
                <span class="desc">Radio</span>
              </div>
              <div class="listControl">
                <div class="playAndList">

                </div>
              </div>
              <i ng-click="changeCurrentRadioChannel(channel)" class="glyphicon glyphicon-play-circle"></i>

            </li>
          </ul>
        </div>
      </div>

      <!--player section-->
      <div class="radio-player" id="player3" style="display:none; height:1px; !important;"></div>

      <!--footer section-->
      <section id="footer" class="channels-footer">
        <div class="row">
          <!-- channel-logo section -->
          <div id="temp-channel-logo" class="col-xs-12 col-sm-1 col-md-1">
            <h4 class="footer-channel-logo-name" ng-bind="currentChannel.name"></h4>
          </div>

          <!-- temp playing content section -->
          <div id="temp-channel-temp-content" class="col-xs-12 col-sm-5 col-md-5">
            <h4 class="channel-content" ng-bind="tempPlayingContent"></h4>
            <div>
              <h5 style="float:left; padding-left:15px; padding-top: 20px; font-size: 27px; color: white;" ng-bind="currentRadioChannel.name"></h5>
            </div>
          </div>

          <!-- player commands section -->
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="player">
              <figure class="left_icon">
                <div class="btns">

                </div>
              </figure>
            </div>
          </div>

          <!-- next playing content section -->
          <div id="temp-channel-next-content" class="col-xs-12 col-sm-3 col-md-3">
          </div>

          <div class="col-xs-12 col-sm-1 col-md-1 segment-right" style="margin-top:37px; text-align: center;">
            <i ng-click="turnOnVolume()" ng-if="volumeOf" class="glyphicon glyphicon-volume-off" style="color: white;margin-top: 10px;"></i>
            <i ng-click="turnOfVolume()" ng-if="!volumeOf" class="glyphicon glyphicon-volume-up" style="color: white;margin-top: 10px;"></i>
            <i ng-click="setFullScreen()" style="margin-left: 10px;margin-top: 10px;color: white;" class="glyphicon glyphicon-fullscreen"></i>
          </div>

        </div>
      </section>

  </div>
</section>
