<section>
  <div class="channel-page">
    <script src="/modules/core/client/css/core.css"></script>
    <!--left menu section-->
    <meta name="viewpoint" content="width=device-width,initial-scale=1">
    <div style="width:25%; float:left;height: calc(100% - 1px);position: absolute;">
      <div class="vertical-menu">
        <ul class="channels">
          <li ng-repeat="channel in vm.radioList">
            <span ng-click="vm.changeCurrentChannel(channel)" class="glyphicon glyphicon-play-circle"
                  style="float: right; color: #ffffff; padding-right: 20px; padding-top: 18px;font-size: 22px;"></span>
            <h4 style="color: #ffffff; text-align:left;padding-left:70px;height:55px;padding-top: 20px;"
                ng-bind="channel.name"></h4>
          </li>
        </ul>
      </div>
    </div>

    <!--player section-->
    <div id='player' style="width: 75% !important; float: right;position: absolute;"></div>
    <br/>

    <!--footer section-->
    <div style=" height:150px; background-color:black;width: 100%;float: left;">
      <div style="width: 25%;  background-color:black; float: left;">
        <h4 style="color: white; padding-left: 120px;margin-top: 69px;" ng-bind="vm.currentRadioChannel.name"></h4>
      </div>
      <div style="width: 75%;  float:left;background-color:black;">
        <div class="player">
          <figure class="left_icon" style="margin-left: 31%;">
            <div class="btns">
              <a class="back icon-backward" href="#"></a>
              <a ng-click="vm.playChannel()" class="play icon-play" href="#"></a>
              <a class="forward icon-forward" href="#"></a>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
