<section>
  <div class="channel-page">
    <script src="/modules/core/client/css/core.css"></script>
    <!--left menu section-->
    <meta name="viewpoint" content="width=device-width,initial-scale=1">
    <div class="channels-menu">
      <div class="vertical-menu">
        <ul class="channels">
          <li ng-repeat="channel in vm.channelsList">
            <img class="channel-logo" src="http://stb.bhmedia.tv:88{{channel.logo}}">
            <div class="channel-content">
              <span class="name" ng-bind="channel.name"></span>
              <span class="desc">Standardni kanal</span>
            </div>
            <div class="listControl">
              <div class="playAndList">

              </div>
            </div>

            <i ng-click="vm.addToFavorites(channel.id)" ng-class="vm.checkIfInFavorites(channel.id) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"
                  style="float: right; color: yellow; padding-right: 20px; font-size: 17px;"></i>

            <i ng-click="vm.changeCurrentChannel(channel)" class="glyphicon glyphicon-play-circle"></i>

          </li>
        </ul>
      </div>
    </div>


    <!--footer section-->
    <section id="footer" class="channels-footer">
      <div class="row">
        <!-- channel-logo section -->
        <div id="temp-channel-logo" class="col-xs-12 col-sm-2 col-md-2">
          <img class="footer-channel-logo-img" src="http://stb.bhmedia.tv:88{{vm.currentChannel.logo}}">
          <h4 class="footer-channel-logo-name" ng-bind="vm.currentChannel.name"></h4>
        </div>

        <!-- temp playing content section -->
        <div id="temp-channel-temp-content" class="col-xs-12 col-sm-4 col-md-4">
          <h4 class="channel-content" ng-bind="vm.tempPlayingContent"></h4>
          <div>
            <h5 style="float:left; background-color:#2e6da4;padding:3px;">ON NOW </h5>
            <h5 style="float:left; padding-left:15px; padding-top: 3px; color: white;" ng-bind="vm.tempPlayingTime"></h5>
          </div>
        </div>

        <!-- player commands section -->
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="player">
            <figure class="left_icon">
              <div class="btns">
                <a class="back icon-backward" href="#"></a>
                <a ng-click="vm.stopPlayer()" class="play icon-play" href="#"></a>
                <a class="forward icon-forward" href="#"></a>
              </div>
            </figure>
          </div>
        </div>

        <!-- next playing content section -->
        <div id="temp-channel-next-content" class="col-xs-12 col-sm-3 col-md-3">
          <h4 class="channel-content"><span>NEXT: </span>{{vm.nextPlayingContent}}</h4>
          <div>
            <h5 style="float:left; background-color:red;padding:3px;">NEXT: </h5>
            <h5 style="float:left; padding-left:15px; padding-top: 3px; color:white;">{{vm.nextPlayingTime}}</h5>
          </div>
        </div>

        <div class="col-xs-12 col-sm-1 col-md-1 segment-right" style="margin-top:37px; text-align: center;">
          <i ng-click="vm.turnOnVolume()" ng-if="vm.volumeOf" class="glyphicon glyphicon-volume-off" style="color: white;margin-top: 10px;"></i>
          <i ng-click="vm.turnOfVolume()" ng-if="!vm.volumeOf" class="glyphicon glyphicon-volume-up" style="color: white;margin-top: 10px;"></i>
          <i ng-click="vm.setFullScreen()" style="margin-left: 10px;margin-top: 10px;color: white;" class="glyphicon glyphicon-fullscreen"></i>
        </div>

      </div>
    </section>
  </div>


</section>

